.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    padding-top: 100px;
}

.reviews {
   background-color: rgb(6, 39, 39);
   border-radius: 12px;
   padding: 3rem;
   color: white;
}

.reviews img{
    border-radius: 100px;
    width: 80px;
    height: auto;
    display: block;
    margin: -80px auto 0 auto;
    border: 5px solid #858585;
}